@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

body {
    font-family: "League Spartan";
}
.warriorsintro h2 {
    text-align: center;
    font-size: 90px;
    position: absolute;
    top: 30%;
    left: 25%;
}